/* File: src/App.scss */
.app-container {
  width: 100vw;
  max-width: 1200px;  /* This sets a common maximum width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box;
}
